@-moz-document url-prefix("https://getpocket.com") {
.pkt-nav,
body,
#content .wrapper.active,
.side-nav,
.page_queue_grid .item_content,
.sub,
.page_queue_list .item_content,
.edit-content,
.tag-detail {
	background-color: #424242 !important;
	/* general bg */
}
.page_queue_grid,
.item_content,
.edit-content,
.item-detail,
.item-domain,
.tag-detail
/* articles */

{
	border: 2px solid #212121 !important;
	border-bottom: 1px solid #212121 !important;
}

/*Headline in articles */
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
	color: #BDBDBD !important;
}
/* article text color*/
p {
	color: #BDBDBD !important;
}

/* quotes */ 
.reader_content,
.excerpt {
	color: #9E9E9E !important;
}

a.title {
	color: #BDBDBD !important;
	/* articletitle */
}
a:visited {
	color: #757575 !important;
	/* visited / read links */
}

a.section-archive,
a.section-favorites,
a.section-mylist,
a.nav-sublist,
a.filter-tags {
	color: #BDBDBD !important;
	/* selectionbar */
}
a.nav-sublist:hover span {
	color: #E0E0E0 !important;
}
a.filter-tags:hover {
	color: #E0E0E0 !important;
}
a.filter-tags:hover span {
	color: #E0E0E0 !important;
}


div.popover-new {
	background-color: #212121 !important;
	/* popups eg tags */
}
.popover-new .popover-new-list a {
	color: #607D8B !important;
	/* popout text */
}
.popover-new .popover-new-list a:hover {
	color: #ECEFF1 !important;
	background-color: #90A4AE !important;
}
div.reading_progress_bar {
	background-color: #EAEAEA !important;
}
span.nav-username {
	color: #BDBDBD !important;
}
.item:hover .buttons {
	background-color: #424242 !important;
}
.overlay_screen .overlay_detail {
	background: #616161;
}
.token-input-list li input {
	background: #616161;
}
a.topic_detail {
	background-color: #757575;
	color: #212121 !important;
}
.item_content_actions,
.item_content_text {
	background-color: #212121 !important;
}
.item_content_actionscontainer {
	border-top: 1px solid #757575;
}
/* tag hover */
.page-queuedark .queue_list .tags .tag:hover{
	color: #212121;
}
}
